services:
  - type: web
    name: hazy-file-bot
    runtime: python
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
    buildCommand: "pip install -r requirements.txt"
    startCommand: "python main.py"
    envVars:
      - key: PORT
        value: 10000
